$primary_font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$headers_font: 'Novecentosanswide-DemiBold', Helvetica, Arial, sans-serif;
$hover_color: #87b672;
$primary_color: #9b9999;
$headers_color: #666262;
$column_2: 50%;
$column_3: 33.333333%;